!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/

[mysqld]
key_buffer_size = 512M
max_allowed_packet = 102400M
sql-mode = "NO_ENGINE_SUBSTITUTION"
innodb_log_file_size= 102400M
innodb_strict_mode=0
